<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.baseurl }}/hen" class="logo">
				<span class="symbol">

					{% if site.font-awesome-icon-logo %}

					<div href="{{ site.baseurl }}/hen" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>

					{% else %}

					<img src="{{ site.baseurl }}/images/ciara.png" alt="" />

					{% endif %}

				</span>
				<span style="width: 60%" class="image main">
					<img src="{{ site.baseurl }}/images/hen_banner.png" alt="" />
				</span>


			</a>
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#hen_menu">Menu</a></li>

				</ul>
			</nav>

		</div>
	</header>

	<!-- {% include hen_menu.html %} -->

	<!-- Main -->
	<div id="main">
		<div class="inner">
