<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.baseurl }}/" class="logo">
				<span class="symbol">

					{% if site.font-awesome-icon-logo %}

					<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>

					{% else %}

					<img src="{{ site.baseurl }}/images/ciara.png" alt="" />

					{% endif %}

				</span><span class="title"><strong> Ciara's Hen</strong> <br>
				Come on Barbie let's go party! 
				</span>


			</a>
			<!-- Nav -->
			<!-- <nav>
				<ul>
					<li><a href="#hen_menu">Menu</a></li>

				</ul>
			</nav> -->

		</div>
	</header>

	<!-- {% include hen_menu.html %} -->

	<!-- Main -->
	<div id="main">
		<div class="inner">
