<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.baseurl }}/" class="logo">
				<span class="symbol">

					{% if site.font-awesome-icon-logo %}

					<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>

					{% else %}

					<img src="https://raw.githubusercontent.com/cov-ert/civet/master/docs/virus.svg" alt="" />

					{% endif %}

				</span><span class="title"><strong> Virus Club</strong> | Edinburgh University <br>
				Virus evolution, bioinformatics & phylogenetics 
				</span>


			</a>
			<!-- Nav -->
			<!-- <nav>
				<ul>
					<li><a href="#menu">Menu</a></li>

				</ul>
			</nav> -->

		</div>
	</header>

	<!-- {% include menu.html %} -->

	<!-- Main -->
	<div id="main">
		<div class="inner">
